/* * {
    box-sizing: border-box;
} */

.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #333;
}

.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: white;
    font-size:55px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.black:hover {
    background-color: rgb(192, 192, 192);
}

.white:hover {
    background-color: rgb(192, 192, 192);
}

.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: grey;
    font-size:55px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}