th {
    border: none;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
}

.frame {
    display: flex;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 47rem;
    background-color: lightgrey;
}

.table {
    padding-left: 1rem;
    padding-right: 4rem;
    text-align: center;

}

.title {
    font-size: 40px;
    color: silver;
    background-color: lightblue;
}


.buttons {
    /* align-items: flex-end; */
    justify-content: center;
    /* padding-left: 2rem; */
}


.black_square {
    width: 80px;
    height: 80px;
    font-size: 60px;
    text-align: center;
    background-color:grey;
}

.white_square {
    width: 80px;
    height: 80px;
    font-size: 60px;
    text-align: center;
    background-color: white;
}

.black_square:hover {
    background-color: rgb(192, 192, 192);
} 

.white_square:hover {
    background-color: rgb(192, 192, 192);
}

.square_selected {
    width: 80px;
    height: 80px;
    font-size: 60px;
    text-align: center;
    background-color: green;
}

