th {
    border: none;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
}

.black_square {
    width: 80px;
    height: 80px;
    font-size: 60px;
    text-align: center;
    background-color:grey;
}

.white_square {
    width: 80px;
    height: 80px;
    font-size: 60px;
    text-align: center;
    background-color: white;
}

.black_square:hover {
    background-color: rgb(192, 192, 192);
} 

.white_square:hover {
    background-color: rgb(192, 192, 192);
}

